Repository WavesHQ/standard, pull requests merged in 2022-12, with the labels that each got.

#6 feature(standard-web): setup for standard-web
  README.md
  packages/standard-web/README.md
  packages/standard-web/package.json
  packages/standard-web/tsconfig.json
  pnpm-lock.yaml
Labels: kind/feature

#7 feature(standard-web-linter): update linter rules
  packages/standard-web-linter/index.js
Labels: kind/feature

#8 feature(renovate): shareable renovate
  .github/renovate.json
  renovate-config/default.json
Labels: kind/feature, area/workflow

#10 feature(renovate): update documentation
  README.md
Labels: kind/feature

#11 chore(renovate): update grouping for defichain
  renovate-config/web.json
Labels: kind/chore

#12 chore(renovate): added standard-desktop and standard-desktop-linter
  .idea/inspectionProfiles/Project_Default.xml
  README.md
  packages/standard-desktop-linter/README.md
  packages/standard-desktop-linter/index.js
  packages/standard-desktop-linter/package.json
  packages/standard-desktop/README.md
  packages/standard-desktop/package.json
  packages/standard-desktop/tsconfig.json
  pnpm-lock.yaml
Labels: kind/chore

#14 feature(standard-desktop-linter): update rules
  packages/standard-desktop-linter/index.js
Labels: kind/feature

#17 feature(standard-web): add hooks & pages absolute import
  packages/standard-desktop/tsconfig.json
Labels: kind/feature

#21 feature(standard): update standard desktop
  packages/standard-desktop/tsconfig.json
Labels: kind/feature

#28 feature(standard-prettier): setup prettier
  .github/governance.yml
  .github/labeler.yml
  .github/release-drafter.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .husky/pre-commit
  README.md
  package.json
  packages/standard-desktop-linter/index.js
  packages/standard-prettier/README.md
  packages/standard-prettier/index.js
  packages/standard-prettier/package.json
  packages/standard-web-linter/index.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
  renovate-config/web.json
Labels: kind/feature, area/workflow

#30 feature(standard-prettier): add sort
  packages/standard-desktop-linter/index.js
  packages/standard-desktop-linter/package.json
  packages/standard-prettier/package.json
  packages/standard-web-linter/index.js
  packages/standard-web-linter/package.json
  pnpm-lock.yaml
Labels: kind/feature

#31 feature(standard-web): add redux
  packages/standard-web/package.json
  pnpm-lock.yaml
Labels: kind/feature

#33 feature(standard-desktop): update
  packages/standard-desktop/tsconfig.json
Labels: kind/feature

#54 chore: update codeowners
  .github/CODEOWNERS
Labels: area/workflow
